.banner-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    width: 100%;
}
.wrapper{
    width: 75%;
}
.wrapper .articles{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    margin-left: 30px;    
}
.business-card{
    padding: 16px;
    margin-bottom: 16px;
    margin-top: 16px;
    background-color: rgb(241, 236, 236);
    width: 100%;
    height: auto;
}

mat-card {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
}

.avatar-image {
    background-image: url('../assets/saravana_bald.jpeg');
    background-size: cover;
}
.project-hybrid-img{
    display: flex;
    flex-wrap: wrap;
    content:url('../assets/hybrid.jpeg');
}

.business-card-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.business-card-buttons button{
    background-color: rgb(255, 255, 255);
}

.business-card mat-card-content{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    margin-left: 30px;
}

.dashboard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.dashboard_chart{
    display: block;
    margin: 1px;
    padding: 1px;
}